body {
  margin: 0;
  padding: 2vw;
  font-size: 2vw;
}

p {
  font-family: 'Vremena';
  margin-left: 3vw;
  width: 80vw;
}

a {
  display: inline-block !important;
  position: fixed;
  top:6vh;
  right:5vw;
  font-family: 'ReHershey';
  font-size: 2vw;
  box-shadow: 7px 7px 23px 0px rgba(255,204,0,1);
  border-radius: 50px;
  padding: 1vw;
  background-color: white;
  z-index: 1000;
  text-decoration: none;
  color: black;
}

.time {
  font-family: 'ReHershey';
  margin-right: 8vw;
  margin-left: -2vw;
  letter-spacing: 120%;
}

@font-face {
    font-family: 'ReHershey';
    src: url(fonts/rehersheyitalic-webfont.eot),
         url(fonts/rehersheyitalic-webfont.svg),
         url(fonts/rehersheyitalic-webfont.ttf),
         url(fonts/rehersheyitalic-webfont.woff),
         url(fonts/rehersheyitalic-webfont.woff2);
}

@font-face {
    font-family: 'Vremena';
    src: url(fonts/vremenagrotesk-webfont.eot),
         url(fonts/vremenagrotesk-webfont.svg),
         url(fonts/vremenagrotesk-webfont.ttf),
         url(fonts/vremenagrotesk-webfont.woff),
         url(fonts/vremenagrotesk-webfont.woff2);
}

article {
  page-break-after: always;
}

h2 {
  string-set: heading content();
  font-family: 'Vremena';
  font-size: 5vw !important;
  font-weight: normal;
  display: none;
}

h2>div {
  font-family: 'ReHershey';
  margin-left: 5vw;
}



@media print {
  @page {
    size: 210 297mm; /* Change from the default size of A4 */
    padding: 8mm;
    margin: 0mm;
    margin-top: 15mm;
  }
  @page :first {
    @top-center {
      content: '';
      display: none;}
    @top-right {
      content: '';
      display: none;}
      @top-left {
        content: '';
        display: none;}
  }
  @page :right {
    @top-center {
      font-family: 'Vremena';
      font-size: 24pt;
      content: counter(page);
      text-align: right;
      width: 150mm;
      height: 12mm;}
      @top-left {
        font-family: 'Vremena';
        content: string(heading);
        font-size: 10pt;
        vertical-align: middle;
        margin-top: 20mm;
        color: white;}
      margin-left: 2mm;
      }
  }
  @page :left {
    @top-center {
      font-family: 'Vremena';
      font-size: 24pt;
      content: counter(page);
      text-align: left;
      width: 150mm;
      height: 12mm;}
      @top-right {
        font-family: 'Vremena';
        content: string(heading);
        font-size: 10pt;
        vertical-align: middle;
        margin-top: 20mm;
        color: white;}
      margin-right: 5mm;
      }
  a {
    display: none !important;
  }

  p {
    font-size: 24pt !important;
    margin-top: 0;
    margin-left: 7mm;
    break-inside: avoid;
  }

  .time {
    margin-right: 25mm !important;
    margin-left: -7mm;
  }

  h2 {
    font-size: 18pt !important;
    margin-top: -18mm;
    margin-left: 8mm;
    display: inline-block !important;
  }

  h2>div {
    margin-left: 10mm;
  }
}
