<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="main">
      <article>
        <h2>
          Tweets about "Raspberry PI" from:
            <div>
              {%for x in list[0:1]%}
                {{value[x]['timestamp']}}
              {%endfor%}
            </div>
          to:
            <div>
              {%for y in list[:-2:-1]%}
                {{value[y]['timestamp']}}
              {%endfor%}
            </div>
        </h2>
      </article>

      <a href="{{ url_for('hello_pdf') }}">Get as PDF</a>
      <article>
        <section>
          {%for i in value%}
            <p><span class="time">{{value[i]['timestamp']}}</span>{{value[i]['content']}}</p>
          {%endfor%}
        </section>
      </article>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script type="text/javascript">
        window.scrollTo(0,document.body.scrollHeight);
    </script>
  </body>
</html>
