<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="main">
      {% block main %}
      <div id="sv">
      <p id="servo">L'angle du servo est actuellement de : <span id="servo_value">{{value}}</span></p>
        <div id="buttons">
          <button type="button" name="button" onclick="up()">SERVO UP</button>
          <button type="button" name="button" onclick="down()">SERVO DOWN</button>
        </div>
      </div>
      <div id="led">
        <p id="txt_led">La DEL est éteinte</p>
        <button type="button" name="button" onclick="led_on()">LED <br/>ON</button>
        <button type="button" name="button" onclick="led_off()">LED OFF</button>
      </div>
      <div id="piezo">
        <button type="button" name="button" onclick="piezo()">PIEZO PLAY</button>
      </div>
      <div id="moteur">
        <button type="button" name="button" onclick="motor_o()">DC MOTOR ONWARDS</button>
        <button type="button" name="button" onclick="motor_b()">DC MOTOR BACKWARDS</button>
      </div>
      {% endblock %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
