<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="refresh" content="5" >
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body onload="setScroll()">
    <div id="main">
      {%for i in value%}
        <p><span class="nom" id="{{i.id}}">{{i.user.screen_name}}</span><span class="message">{{i.text}}</span></p>
        {%if i.media_url%}
          <img src="{{i.media_url}}" alt="">
        {%endif%}
        <div class="tweet_dev">
          <p class="retweet">Retweets: {{i.retweet_count}}</p>
          <p class="reply">Replies: {{i.reply_count}}</p>
          <p class="fav">Favorited: {{i.favorite_count}}</p>
        </div>
      {%endfor%}
      <div class="index">
      <p>INDEX</p>
      {% set prev = [] %}
      {% for j in value|sort(attribute="user.screen_name") %}
            <p class="ref">
              {% if j.user.screen_name not in prev %}
                <a class="name" href="#{{j.id}}"></a>
              {% endif %}
              <a class="num" href="#{{j.id}}"></a>
            </p>
          {% do prev.append(j.user.screen_name) %}
      {%endfor%}
      </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script type="text/javascript">
        window.scrollTo(0,document.body.scrollHeight);
    </script>
  </body>
</html>
