body {
  margin: 0;
  padding: 0;
  font-family: 'VG5000';
}

#main {
  font-size: 3vw;
}

p {
  padding: 2vw;
  margin: 0;
  border-top: 2px solid black;
  border-bottom: 0px solid white;
}

span.nom {
  margin-right: 10vw;
  margin-left: 2vw;
  color: red;
  string-set: heading content();
}

.index {
  display: none;
}

.tweet_dev {
  display: flex;
  flex-direction: row;
  border-top: 2px solid black;
  justify-content: flex-start;
  margin-left: 60vw;
  width: 40vw;
  font-size: 2vw;
}

.tweet_dev > p {
  border: 0px solid white;
}


@font-face {
    font-family: 'VG5000';
    src: url(fonts/VG5000-Regular_web.eot),
         url(fonts/VG5000-Regular_web.ttf),
         url(fonts/VG5000-Regular_web.woff),
         url(fonts/VG5000-Regular_web.woff2);
}

@media print {
  span.nom {
    color: white !important;
    display: block;
  }
  @page {
    size: 100mm 140mm !important; /* Change from the default size of A4 */
    padding: 0mm;
    margin: 10mm;
    @top-left {
      content: string(heading);
      display: inline-block !important;
      color: red;
      font-family: 'VG5000';
      font-size: 12pt;
      text-align: left;
      vertical-align: bottom;
      width: 90mm;
      height: 18mm;}
  }
  @page :right {
      margin-left: 8mm;
      @bottom-right {
          content: counter(page);
          font-family: 'VG5000';
          font-size: 10pt;
          text-align: right;
          vertical-align: top;
          width: 8mm;
          margin-left: 3mm;
          height: 5mm;}
      }

  @page :left {
      margin-left: 8mm;
      @bottom-left {
          content: counter(page);
          font-family: 'VG5000';
          font-size: 10pt;
          text-align: left;
          vertical-align: top;
          width: 5mm;
          height: 5mm;}
      }

      @page index {
        @top-left {
          content: none; }
        @bottom-left {
          content: none; }
        @bottom-right {
          content: none; }
      }

  .index {
    display: inherit;
    columns: 2 !important;
  }

  p.ref {
    page: index;
    margin-left: 0mm;
    font-size: 8pt;
  }

  p {
    font-size: 16pt !important;
    margin-left: 15mm;
    border-top: 0px solid white;
  }

  a {
    font-size: 11pt;
    text-decoration: none;
    color: black;
  }

  a.name::before {
    content: target-text(attr(href));
  }

  a.num::after {
    content: target-counter(attr(href), page);
  }

  a.name {
    margin-right: 10mm;
  }

  a.num {
    margin-left: 15mm;
    margin-top: 0;
    margin-bottom: 2mm;
  }

  .tweet_dev {
    page-break-after: always;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 0px solid white;
    width: 30mm;
    height: 50mm;
    margin-top: -6mm;
  }

  .tweet_dev > p{
    margin: 0;
    margin-left: 10mm;
    padding-top: 10mm;
    font-size: 12pt !important;
    width: 30mm;
  }

  .tweet_dev > p:not(:last-of-type){
    border-bottom: 1px solid black;
  }

}
