body {
  color: orange;
  font-family: 'MetaAccanthis';
  font-size: 4vw;
  padding: 0vw;
  line-height: 120%;
  margin: 0vw;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  padding: 1vw;
}

button {
  color: white;
  font-family: 'MetaAccanthis';
  font-size: 3vw;
  background-color: mediumseagreen;
  border: none;
  padding: 0.5vw;
  width: 25vw;
  text-align: center;
}

button:hover {
  background-color: orange;
  cursor: pointer;
}

#main {
  display: grid;
  grid-template-columns: repeat(4, 25vw [col-start]);
  grid-template-rows: repeat(4, 25vh [col-start]);
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

#sv {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  border: 3px solid orange;
}

#buttons, #led, #piezo, #moteur {
  display: flex;
  flex-direction: row;
}

#buttons > * {
  height: 26.4vh;
}

#led {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  border: 3px solid orange;
  border-left: 0px solid white;
}

#piezo {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

#moteur {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
  border: 3px solid orange;
  border-top: 0px solid white;
}

#moteur > * {
  width: 25vw !important;
}

p {
  margin: 0;
}

@font-face {
    font-family: 'MetaAccanthis';
    src: url(font/metaaccanthis_regular-webfont.eot),
         url(font/metaaccanthis_regular-webfont.svg),
         url(font/metaaccanthis_regular-webfont.ttf),
         url(font/metaaccanthis_regular-webfont.woff),
         url(font/metaaccanthis_regular-webfont.woff2);
}
